
.dashboard-page {
    width: calc(100% - 220px);
    margin-left: 220px;
  }
  
  .header {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    border-bottom: 1px solid #000000;

  }
  
  .menu-icon {
    font-size: 20px;
    margin-right: 25px;
  }
  
  .title {
    font-size: 24px;
  }

  .dashboard {
    padding: 20px;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-item img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
  }
  
  .image-item p {
    margin-top: 10px;
    text-align: center;
  }

  .box {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .count-box {
    background-color: #f7fcfc;
    border: 1px solid #006A66;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .count-box h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .count {
    font-size: 24px;
    font-weight: bold;
    color: #006A66;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
