
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:  #006A66;
  }
  
  .logo {
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    border: 1px solid #040202;
  }
  

  .login-heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
   
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
  }
  
  .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  

  .form-label {
    width: 70%;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #0b0000;
  }
  .form-input {
    width: 100%;
    padding: 8px 0px 8px ;
    margin-bottom: 5px;
    border: 1px solid #030303;
    text-indent: 30px;
  }
  
  .login-button {
    padding: 8px 0px;
    background-color: #006A66;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 70%;
    margin-top: 15px;
  }
  
  .login-button:hover {
    background-color: #45a049;
  }
  