.dashboard-page {
  width: calc(100% - 220px);
  margin-left: 220px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  border-bottom: 1px solid #000000;
}

.menu-icon {
  font-size: 20px;
  margin-right: 25px;
}

.title {
  font-size: 24px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3fbfb;
}

.default {
  display: block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 30px;
  border: 1px solid #040202;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
  padding: 20px;
  background-color: #006A66;
  border-radius: 15px;
  margin-bottom: 30px;
}

.form-group {
  width: 70%;
  margin-bottom: 15px;
  position: relative;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #ebf4f4;
}

.form-input {
  width: 100%;
  padding: 8px 0px 8px;
  margin-bottom: 5px;
  border: 1px solid #030303;
  text-align: left;
}

.button {
  padding: 8px 0px;
  background-color: #f7fcfc;
  color: #0c0000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 70%;
  margin-top: 15px;
}

.button:hover {
  background-color: #45a049;
  color: #f3fbfb;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

