/* dashboard.css */
.dashboard-page {
    width: calc(100% - 220px);
    margin-left: 220px;
  }
  
  .header {
    width:97%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    border-bottom: 1px solid #000000;

  }
  
  .menu-icon {
    font-size: 20px;
    margin-right: 25px;
  }
  
  .title {
    font-size: 24px;
  }

  .vegetable-table {
    width: 97%;
    margin: 10px 20px 20px;
    border-collapse: collapse;
    border: 1px solid #040101;
  }
  
  .vegetable-table th,
  .vegetable-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #120202;
    border-right: 1px solid #100202;
  }
  
  .vegetable-table th {
    background-color: #f2f2f2;
  }
  
  .vegetable-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .vegetable-table tbody tr:hover {
    background-color: #e6e6e6;
  }
  
  .vegetable-table td:last-child {
    display: flex;
    justify-content: space-around;
    border-right: none;
  }

  @media screen and (max-width: 768px) {
    .dashboard-page {
      width: 100%;
      margin-left: 0;
    }
  
    .header {
      flex-wrap: wrap;
    }
  
    .menu-icon {
      margin-right: 10px;
    }
  
    .title {
      font-size: 20px;
    }
  
    .vegetable-table {
      width: 30%;
      margin: 10px 0;
    }
  
    .vegetable-table th,
    .vegetable-table td {
      padding: 5px;
    }
  
    .vegetable-table td:last-child {
      justify-content: center;
    }
  }