body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
}

.sidebar-nav {
  height: 100%;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #006A66;
  overflow: hidden;
  transition: 0.3s;
  list-style-type: none;
  padding-left: 0;
}

.heading {
  color: rgb(9, 254, 9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-item {
  display: flex;
  align-items: center;
  transition: 0.3s;
  padding-top: 10px;
}

.sidebar-item a {
  padding: 10px;
  text-decoration: none;
  font-size: 22px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  font-family: 'Oswald', sans-serif;
  width: 100%;
}

.sidebar-item:hover {
  background-color: #6ff0e7;
}

.sidebar-item:hover .sidebar-text {
  color: #000;
}
.sidebar-item:hover .sidebar-icon {
  color: #000;
}

.sidebar-item-container {
  display: flex;
  padding: 10px;
}

.sidebar-icon {
  margin-right: 15px;
}

.sidebar-text {
  display: inline-block;
}
